* {
    box-sizing: border-box;
    font-family: "Inter";
}

body {
    margin: 0;
}

.container {
    width: 70%;
}


.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.nav-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 20px;
}

.logo-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

.logo-container img {
    max-width: 80px;
    width: 100%;
    max-height: 80px;
    height: 100%;
}

.navbar-num {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-elements {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-elements a {
    text-decoration: none;
    color: black;
}

section {
    display: flex;
    justify-content: center;
    width: 100%;

}

.header {
    padding-top: 40px;
    background-image: url(images/header-background.png);
    background-size: cover;
    color: white;
    font-size: 14px;
}

.header h2 {
    font-size: 39px;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
    gap: 30px;

}

.header-form-left {
    gap: 10px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header-form-right {
    gap: 10px;
    display: flex;
    flex-direction: column;
    flex: 1;
    border-left: 2px solid white;
    padding-left: 30px;
}


.header-form {
    display: flex;
    flex-direction: column;
    gap: 30px;

}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;

}



.header-form-bottom {
    border-top: 2px solid white;
    padding: 20px 50px;
}

.header-form-bottom button {
    font-size: 16px;
    padding: 10px 40px;
    border-radius: 10px;
    border: none;
}

select {
    font-size: 16px;
    padding: 15px 0;

}

.form-container input {
    font-size: 16px;
    padding: 15px 0;
}

.second-section-box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.second-section-el {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.image-box img {
    max-width: 86px;
    width: 100%;
    max-height: 86px;
    height: 100%;
}

.second-box {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.second-section-content {
    display: flex;
    flex: 1;
}

.last-section {
    margin-top: 80px;
    background-color: #f8f8f8;
}

.last-section-container {
    padding: 30px 0;


}

.last-section-container button {
    width: fit-content;
    padding: 10px 40px;
    background-color: #1979c7;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 16px;
}

.last-section-content-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}

.last-section-content-box span {
    font-size: 22px;
    font-weight: 800;
}

.last-section-content {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.last-section-image {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.last-section-image img {
    max-width: 320px;
    width: 100%;
}

.last-section-middle-image img {
    max-width: 320px;
    width: 100%;
}

.last-section-middle-image {
    display: flex;
    flex: 1;
    justify-content: flex-start;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-container-left {
    display: flex;
    flex: 1;
}

.footer-container-right {
    display: flex;
    flex: 1;
}

.footer-container-right img {
    max-width: 50px;
    width: 100%;
}

.last-section-middle-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    text-align: end;
    align-items: end;
}